.mentor-session--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    background: #ffffff;
    border: 1.378px solid #f7f7f7;
    border-radius: 18px;
    box-shadow: 5px 8px 24.9px 0px rgba(237, 230, 214, 0.5);
    width: 100%;
    min-height: 200px;
}

.mentor-session--header {
    width: 100%;
}

.mentor-session--title {
    font-family: var(--font-plus-jakarta-sans);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #242a33;
    margin: 0;
}

.mentor-session--body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.mentor-session--placeholder-text {
    font-family: var(--font-plus-jakarta-sans);
    font-size: 14px;
    font-weight: 400;
    color: #888c92;
    margin: 0;
}

@media (max-width: 499px) {
    .mentor-session--container {
        width: 100%;
    }
}