.lta-suit--container {
  gap: 1.5rem;
  width: fit-content;
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  justify-content: space-evenly;
  align-items: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.lta-suit--container::-webkit-scrollbar {
  display: none;
}

.lta-suit--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 4px;
  background: #ffffff;
  border: 1.378px solid #f7f7f7;
  border-radius: 18px;
  box-shadow: 5px 8px 24.9px 0px rgba(237, 230, 214, 0.5);
  width: fit-content;
  position: relative;
}

.lta-suit--header {
  padding: 16px 16px 0 16px;
  width: 100%;
}

.lta-suit--title {
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #242a33;
  margin: 0;
}

.lta-suit--image-container {
  position: relative;
  width: 200px;
  height: 145px;
  border-radius: 18px;
  overflow: hidden;
}

.lta-suit--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.lta-suit--access-tag {
  position: absolute;
  top: 6px;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(13.36px);
  padding: 5px 10px;
  border-top-right-radius: 42px;
  border-bottom-right-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lta-suit--access-text {
  font-weight: 500;
  font-size: 11.5px;
  line-height: 13px;
  color: #ebe8ef;
}

.lta-suit--cta-wrapper {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.lta-suit--cta-button {
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.5px 13px;
  border-radius: 63px;
  border: 1.639px solid rgba(78, 73, 89, 0.65);
  cursor: pointer;
  background-image:
    linear-gradient(rgba(77, 55, 131, 0.2) 0%, rgba(238, 227, 255, 0.2) 51.44%),
    linear-gradient(90deg, rgb(107, 90, 137) 0%, rgb(107, 90, 137) 100%);
  box-shadow: inset 0px 2.459px 0.82px 0px #a392c7;
  transition: transform 0.2s ease;
}

.lta-suit--cta-button:hover {
  transform: scale(1.05);
}

.lta-suit--cta-text {
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  letter-spacing: -0.2px;
}

@media (max-width: 499px) {
  .lta-suit--container {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    align-items: stretch;
    justify-content: flex-start;
  }
  .lta-suit--card {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  .lta-suit--image-container {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
}

.lta-suit--wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  flex-shrink: 0;
}

.lta-suit--heading {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #242a33;
  margin: 0;
}