.lta-plane--container {
  width: 406px;
  height: 217px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
}

.lta-plane--image {
  width: 166px;
  height: 127px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .lta-plane--container {
    display: none;
  }
}