.header--main-container-large-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header--main-container-mobile-screen {
  display: none;
}

.header--search-container {
  display: flex;
  align-items: center;
  width: 25rem;
  height: 2.5rem;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--Surface-Grey-100, #fff);
  border: 1px solid var(--Surface-Grey-200, #f5f6f7);
  border-radius: 44px;
  box-sizing: border-box;
}

.header--search-input {
  border: none;
  outline: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #888c92;
  width: 100%;
  height: 100%;
}

.header--search-input::placeholder {
  color: #888c92;
  opacity: 1;
}

.header--menu-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

@media (max-width: 499px) {
  .header--main-container-large-screen {
    display: none;
  }
  .header--main-container-mobile-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .header--search-container {
    width: 50%;
  }
}
